{% extends "base.html" %}
{% load static%}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}


{% block page_title %}
    Mój blog
{% endblock %}

{% block content %}
<section id="all-posts">
    <h2>Moje posty</h2>

    <ul>
        
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
       
    </ul>
{% endblock %}