{% extends 'base.html' %}
{% load static %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}


{% block page_title %}
    Mój blog
{% endblock %}

{% block content %}


<section id="welcome">
    <header>
        <img src="{% static "blog/images/ja.jpg" %}" alt="Mateusz - Autor bloga" />
        <h2> MÓJ BLOG </h2>
    </header>
    <p>Cześć, nazywam się Mateusz chciałbym się 
    podzielić z wami moimi doświadczeniami z życia codziennego.</p>
</section>

<section id = "latest-posts">
    <h2>Moje ostatnie posty </h2> 
    <ul>
       {% include "blog/includes/post.html" %}
    </ul>

</section>

<section id="about">
<h2>O mnie</h2>
    <p>Jestem studentem informatyki trzeciego roku. Interesuję 
        się informatyką oraz ogólnym rozwojem technologii.
         Ale ponad to lubię grać! Dosłownie we wszystko 
         planszówki, gry komputerowe a także drużynowe 
         na świeżym powietrzu.
    </p>
    <p>Moim celem jest rozwijanie się jako developer - 
        i jeśli mógłbym ci jakoś w tym pomóc bardzo chętnie pomogę.
    </p>
</section>
{% endblock %}