@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    font-family: 'Bebas Neue', cursive;
}

body{
    margin: 0;
    background: rgb(193,152,83);
    background: radial-gradient(circle, rgba(193,152,83,1) 0%, rgba(17,101,173,1) 100%);
}